@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------Header/Navbar*/

header {
    background-color: #BA55D3;
    min-height: 120px;
}

.bg-light {
    background-color: transparent !important;
}

.headername {
    font-family: "Exo", sans-serif;
    font-size: 40px;
    margin-right: 7px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.pages {
    font-size: 30px;
    font-weight: 500;
    font-family: "Exo";
}

a.nav-pagelink  {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    .title {
        font-size: 25px;
    }
}

/*----------------------------------------Index.html*/

.rishiimage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 40px;
    display: block;
    margin-left: 100px;
}

.personalinfo p {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: #000000;
    text-align: center;
}

.signature {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;
}

.calendar {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;  
}

.address {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;      
}

.email {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;  
}

.phone {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;     
}

.introduction {
    margin-top: 100px;
}

.introduction p {
    font-size: 20px;
    font-weight: 500;
    font-family: "Exo", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .introduction {
        margin-top: 5px;
    }
}


/*----------------------------------------My Skills.html*/

/*----------------------------------------Portfolio.html*/

.portfolio {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

.loverunning {
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: auto;
    padding-bottom: 50px;
    margin-left: 50px;
}

.whiskeydrop {
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: auto;
    margin-top: 30px;
    padding-bottom: 50px;
    margin-left: 50px;
}

.msp1 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: auto;
    margin-top: 30px;
    padding-bottom: 50px;
    margin-left: 50px;   
}
/*----------------------------------------Contact.html*/

.contact-us-header {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.contact-us-subheader {
    font-family: "Exo", sans-serif;
    font-size: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 65%;
}

.btn {
    font-family: "Exo", sans-serif;
    background-color: #228B22;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*----------------------------------------Footer*/

footer {
    background-color: #BA55D3;
    min-height: 120px;
}

p {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: 500;
    color: #fff;
}

.creator {
    text-align: left;
}

.download {
    font-size: 25px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.download :hover {
    color: #FFFF00;
}

.facebook {
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #FFFF00;
    width: 50px;
    height: 50px;
}

.twitter {
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #FFFF00;
    width: 50px;
    height: 50px 
}

.linkedin {
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #FFFF00;
    width: 50px;
    height: 50px
}


