@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------Header/Navbar*/

header {
    background-color: #BA55D3;
    min-height: 120px;
}

.bg-light {
    background-color: transparent !important;
}

.headername {
    font-family: "Exo", sans-serif;
    font-size: 40px;
    margin-right: 7px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.pages {
    font-size: 30px;
    font-weight: 500;
    font-family: "Exo";
}

a.nav-pagelink  {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    .title {
        font-size: 25px;
    }
}

/*----------------------------------------Index.html*/

#content {
    min-height: calc(100vh - 250px);
}

.rishiimage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 40px;
    display: block;
    margin-left: 100px;
}

.personalinfo p {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: #000000;
    text-align: center;
}

.signature {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;
}

.calendar {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;  
}

.address {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;      
}

.email {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;  
}

.phone {
    font-size: 40px;
    color: #000000;
    margin-right: 30px;     
}

.introduction {
    margin-top: 100px;
}

.introduction p {
    font-size: 20px;
    font-weight: 500;
    font-family: "Exo", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .introduction {
        margin-top: 5px;
    }
}


/*----------------------------------------My Skills.html*/

#content {
    min-height: calc(100vh - 250px);
}

.rectangle {
  height: 700px;
  width: 400px;
  background-color: #c4c4c4;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rectangle p {
    text-align: center;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 10px;
}

.icons {
    font-size: 70px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Education {
    font-family: "Exo", sans-serif;
    text-align: center;
    position: relative;
    top: 15px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
    margin-left: 30px;
    color: #000000; 
}

.school {
    font-family: "Exo", sans-serif;
    font-size: 18px;
}


.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #000000;
}

.education-items {
    margin-bottom: 30px;
}



/*----------------------------------------Portfolio.html*/

.portfolio {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

.loverunning {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 50px;
}

.whiskeydrop {
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.msp1 {
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding-bottom: 50px;  
    padding-left: 50px;
}

.p-title {
    font-family: "Exo", sans-serif;
    text-align: left;
    padding-top: 30px;
    padding-left: 15px;
}

.p-desc {
    text-align: left;
    color: #000000;
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .project-desc {
        font-size: 18px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 900px) {
    .project-title {
        padding-top: 5px;
        padding-left: 50px;
    }
}


/*----------------------------------------Contact.html*/

#content {
    min-height: calc(100vh - 250px);
}

.contact-us-header {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.contact-us-subheader {
    font-family: "Exo", sans-serif;
    font-size: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 65%;
}

.btn {
    font-family: "Exo", sans-serif;
    background-color: #228B22;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

@media(min-width: 900px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*----------------------------------------Footer*/

footer {
    background-color: #BA55D3;
    min-height: 120px;
}

p {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: 500;
    color: #fff;
}

.creator {
    text-align: left;
}

.download {
    font-size: 25px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.download :hover {
    color: #FFFF00;
}

.facebook {
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #FFFF00;
    width: 50px;
    height: 50px;
}

.twitter {
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #FFFF00;
    width: 50px;
    height: 50px 
}

.linkedin {
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #FFFF00;
    width: 50px;
    height: 50px
}


